In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [5]:
data = pd.read_csv(r"C:\Users\asaqu\Documents\Udemy Data Science\Linear Regression\1.01.+Simple+linear+regression.csv")
data.head()

    SAT   GPA
0  1714  2.40
1  1664  2.52
2  1760  2.54
3  1685  2.74
4  1693  2.83

In [21]:
# independent variable also referred to asfeature
x = data['SAT'] 
y = data['GPA']

In [16]:
x.shape

(84,)

In [17]:
y.shape

(84,)

In [18]:
x_matrix = x.values.reshape(84,1)
x_matrix.shape

(84, 1)

In [27]:
reg = LinearRegression()

In [28]:
reg.fit(x_matrix,y)

LinearRegression()

In [ ]:
#normalization subtract mean divived by L2-norm of inputs

In [29]:
#r-squared
reg.score(x_matrix, y)

0.40600391479679765

In [30]:
#coefficients
reg.coef_

array([0.00165569])

In [32]:
#intersept
reg.intercept_

0.275040299660279

In [38]:
#making predictions
reg.predict([[1740]])

array([3.15593751])

In [41]:
new_data = pd.DataFrame(data=[1740,1760], columns=['SAT'])
new_data

    SAT
0  1740
1  1760

In [42]:
reg.predict(new_data)

array([3.15593751, 3.18905127])

In [45]:
new_data['Predicted_GPA'] = reg.predict(new_data)
new_data

    SAT  Predicted_GPA
0  1740       3.155938
1  1760       3.189051